-e .

# Packaging
build==1.2.2.post1
twine==6.1.0

# Testing
ruff==0.9.4
mypy==1.14.1
pytest==8.3.4
pytest-xdist==3.6.1
coverage==7.6.10
coverage_enable_subprocess==1.0
httpx==0.28.1
trustme==1.2.1
cryptography==44.0.0
